body {
  min-height: 90vh;
  display: grid;
  place-items: center;
  color: white;
  font-family: sans-serif;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.title {
  font-size: 3vh;
  background-color: #e5ccaf;
  padding: 1%;
  border-radius: 5px;
  width: max-content;
  opacity: 70%;
  color: #222;
  text-align: center;
}

.content {
  font-size: 2.5vh;
}

.titleeng {
  font-size: 3vh;
  background-color: #bfcad6;
  padding: 1%;
  border-radius: 5px;
  width: max-content;
  opacity: 70%;
  color: #222;
}

.input {
  opacity: 0.5;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}

.submit {
  opacity: 0.5;
  padding: 10px;
  border-radius: 5px;
  background-color: #4c545d;
  color: #ffffff;
  width: fit-content;
}