body {
  min-height: 90vh;
  display: grid;
  place-items: center;
  color: white;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.title {
  font-size: 3vh;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #e5ccaf;
  padding: 1%;
  border-radius: 5px;
  width: max-content;
  opacity: 70%;
  font-weight: 900;
  color: #222;
  text-align: center;
}

.titleeng {
  font-size: 3vh;
  font-family: 'Bebas Neue', sans-serif;
  background-color: #bfcad6;
  padding: 1%;
  border-radius: 5px;
  width: max-content;
  opacity: 70%;
  color: #222;
}

.content {
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
}

.input {
  opacity: 0.5;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
}

.submit {
  opacity: 0.5;
  padding: 10px;
  border-radius: 5px;
  background-color: #FFBB77;
  color: #222;
  width: fit-content;
}

.lang {
  --tw-bg-opacity: 1;
  background-color: rgb(54 54 54/var(--tw-bg-opacity));
  color: aliceblue;
  font-size: large;
  padding: 10px;
  border-radius: 5px;
  width: max-content;
  opacity: 70%;
  float: right;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.dashboard {
  color: rgb(12, 81, 142);
  text-decoration: none;
}